<div class="container  mt-5 position-relative">
  <div class="card bg-transparent text-white ">
    <div class="card-header title fw-bold text-center  mb-1" id="contact">
      ready to take<span class="ps-3">your</span> digital presence to next level?
    </div>
    <div class="card-body ">

      <p class="fs-5 text-center"> Reach out to me today and let's discuss how
        i can help you achieve your goals. </p>

      <div class="magic-button-container  ">
        <a href="https://wa.me/201157827847?text=Hi%20Ibrahim!%20👋%20Hope%20you%27re%20doing%20well!
          " class="d-block mt-5 text-decoration-none">
          <button class="magic-button fw-normal fs-6 d-flex gap-2 align-items-center px-4">
            Let's get in touch
            <i class="fa-solid fa-location-arrow"></i>
          </button>
        </a>
      </div>

      <div class="footer mt-5">
        <app-footer></app-footer>
      </div>
    </div>
  </div>



</div>
