.container{
  color: #fff;
  background-image: url('/assets/images/footer-grid.svg');
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;



  .title{
    font-size: 3.5rem;
    letter-spacing: 1.2px;
    text-wrap: balance;

    span{
      color: var(--third-color);
    }
    @media (max-width:1000px) {
      font-size: 2.9rem;

    }
    @media (max-width:768px) {
      font-size: 2.5rem;

    }
    @media (max-width:450px) {
      font-size: 2rem;

    }
  }
 .card-body{
  p{
     color: rgb(190 193 221);
  }
 }
}
