<div class="container  text-white">

  <div class="d-flex  justify-content-md-between  justify-content-center align-items-center gap-2 flex-wrap ">

    <p class="text-capitalize fs-6 fw-semibold">
      Copyright © 2024 ibrahim
    </p>

      <ul class="d-flex justify-content-center align-items-center gap-3" style="list-style: none;">
        <li class="   rounded" style="padding: 7px 10px; border:1px solid hsl(0deg 0% 100% / 12.5%); background: rgb(17 25 40 / 75%);">
          <a href="https://github.com/JrAtta" class="fs-6">
            <i class="fab fa-github "></i>
          </a>
        </li>
        <li class="    rounded" style="padding: 7px 10px; border:1px solid  hsl(0deg 0% 100% / 12.5%); background: rgb(17 25 40 / 75%);">
          <a href="https://www.linkedin.com/in/ibrahim-atta-366218228" class="fs-6">
            <i class="fab fa-linkedin "></i>
          </a>
        </li>
        <li class="    rounded" style="padding: 7px 10px; border:1px solid  hsl(0deg 0% 100% / 12.5%); background: rgb(17 25 40 / 75%);">
          <a href="mailto:aee23530@gmail.com" class="fs-6">
            <i class="fab fa-google "></i>
          </a>
        </li>
      </ul>
  </div>

</div>
