<div class="container  text-white">

  <div class="d-flex  justify-content-md-between  justify-content-center align-items-center gap-2 flex-wrap ">

    <p class="text-capitalize fs-6 fw-semibold">
      Copyright © 2024 ibrahim
    </p>

      <ul class="d-flex justify-content-center align-items-center gap-3" >
        <li class="rounded" >
          <a href="https://github.com/JrAtta" class="fs-6" title="github">
            <i class="fab fa-github "></i>
          </a>
        </li>
        <li class="rounded" >
          <a href="https://www.linkedin.com/in/ibrahim-atta-366218228" class="fs-6" title="linkedin">
            <i class="fab fa-linkedin "></i>
          </a>
        </li>
        <li class="rounded">
          <a href="mailto:aee23530@gmail.com" class="fs-6"  title="gmail">
            <i class="fab fa-google "></i>
          </a>
        </li>
      </ul>
  </div>

</div>
