.container
{
  // background-image: url('/assets/images/footer-grid.svg');
  // background-position: center;
  // transform: translateY(-70px);


  a{
    text-decoration: none;
    color: #fff;
    display: block;

  }

  ul{
    list-style-type: none;
    li{
      padding: 7px 10px; border:1px solid hsl(0deg 0% 100% / 12.5%); background: rgb(17 25 40 / 75%);
      cursor: pointer;
      transition: transform .3s linear;
      &:hover{
        transform: translateY(-6px);
      }
    }
  }
}
