<div class="container pb-4">
  <div class="card-header title fw-bold text-center  mb-5" id="testimonials">
    Kind words from <span>satisfied clients</span>
  </div>

  <div class="mt-4 gg">
    <owl-carousel-o [options]="customOptions">
      @for (item of testimonialsList; track $index) {
      <ng-template carouselSlide>
        <div class="container-testimonials p-4 rounded  row mx-3 ">

          <div class="col-12    mb-3">
            <p class="text-capitalize descrption  w-100">
              {{item.description}}
          </div>
          <div class="col ">
            <div class="d-flex align-items-center gap-3 owner">

              <div class="owner-image">
                <img loading="lazy" [src]="item.image" class="w-100" alt="item.image">
              </div>
              <div class="owner-content  fw-semibold text-capitalize d-felx flex-column gap-3">
                <div class="owner-name">
                  {{item.name}}
                </div>
                <div class="owner-title text-secondary small ">
                  {{item.jobTitle}}
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-template>
      }
    </owl-carousel-o>


  </div>
</div>
