/* You can add global styles to this file, and also import other style files */


@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

#global-loader {
  position: fixed;
  inset: 0;
  background: var(--main-color); /* لون الخلفية */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* فوق كل حاجة */
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid var(--third-color);
  border-top: 6px solid var(--second-color); /* الأزرق أو أي لون */
  border-radius: 50%;
  animation: spin 1s linear infinite;

}

@keyframes spin {
  to { transform: rotate(360deg); }
}


::-webkit-scrollbar
{
width:9px;
}
::-webkit-scrollbar-track{
  background: var(--third-color);
}
::-webkit-scrollbar-thumb{
  background:#1c126ea6;
  border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
  background:#110379aa;
}
::-webkit-scrollbar-thumb:active{
  background: var(--second-color);

}

.title{
  font-size: 3.5rem;
  letter-spacing: 1.2px;
  span{
    color: var(--third-color);
  }
  @media (max-width:1000px) {
    font-size: 2.9rem;

  }
  @media (max-width:768px) {
    font-size: 2.5rem;

  }
  @media (max-width:450px) {
    font-size: 2rem;

  }
}

:root{
  --main-color:#000319f9;
  --second-color: #11037989;
  --third-color:#cbacf9;
  --gradient-color:conic-gradient(from 90deg at 50% 50%, #e2cbff 0, #393bb2 50%, #e2cbff 100%);
  --bg-btn: #020617;
  --bg-div: #04071D;

}
.radius{   //about
  border-radius: 1.2rem;
}
.border-color {
  border: 1px solid hsl(0deg 0% 100% / 10%);
}
.h-45{
  height: 45%;
}
.w-35{
  width: 35%;
}

.w-60{
  width: 60%;
}
.h-55{
  height: 55%;
}
.vh-70{
  height: 70vh;

}
.pointer{
  cursor: pointer;
}

.font{
  font-size: 2rem;
}
.font1{
  font-size: 1.5rem;
}

@media (max-width:992px) {
  .font{
    font-size: 1.5rem;
  }
  .font1{
    font-size: 1.2rem;
  }
}
@media (max-width:768px) {
  .font{
    font-size: 1.2rem;
  }
  .font1{
    font-size: 1.2rem;
  }
}
.magic-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.magic-button {
  position: relative;
  padding: 8px 38px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  transition: color 0.3s ease;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid ;
  border-color:transparent;
}

/* Create the colorful border using gradient */
.magic-button::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 5px;
  /* background: linear-gradient(45deg, #e2cbff 0, #393bb2 50%, #e2cbff 100%); */
  background-image: conic-gradient(from 90deg at 50% 50%, #e2cbff 0, #393bb2 50%, #e2cbff 100%);
  -webkit-backdrop-filter: blur(64px);
  backdrop-filter: blur(64px);
  z-index: -1;
  padding: 5px; /* Space for the border */
  background-size: 400%;
  animation: gradient-rotate 5s linear infinite;
}
/* Button inner background */
.magic-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  z-index: -1;
  margin: 1px;
  background-color:#020617;
}
/* Smooth hover effect */
.magic-button:hover {
  color: #cbacf9;
}

/* Keyframes to rotate the gradient background */
@keyframes gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
      rotate: 1turn;
  }
}
